<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <title>LogClient</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet" href="syle.css">
   </head>
    <body>
        <div ng-controller = "Log">
            <table>
                <tr ng-repeat = "log in logs">
                    <td>{{log.dt}}</td>
                    <td>{{log.level}}</td>
                    <td>{{log.message}}</td>
                </tr>
           </table>
            <form ng-submit="sendMessage()">
                <p><input type="text" ng-model="dt"> Date</p>
                <p><input type="text" ng-model="author"> author</p>
                <p><input type="text" ng-model="level"> level</p>
                <p><input type="text" ng-model="message"> message</p>
                <p><input type="submit" value="Submit"></p>
           </form>
         </div>
    </body>
</html>