<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <title>LogClient</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="controller.js"></script>
    </head>
    <body>

        <div ng-controller = "Log">
            <h1>Get logs:</h1>
            <form ng-submit="getLogs()">
                page:<input type="number" ng-init="page=0" ng-model="page"/> &nbsp;&nbsp;
                size:<input type="number" ng-init="size=0" ng-model="size"/> &nbsp;&nbsp;
                <input type="submit" value="Get!">
            </form>

            <table>
                <tr ng-repeat = "log in logs">
                    <td>{{log.dt}}</td>
                    <td>{{log.level}}</td>
                    <td>{{log.message}}</td>
                </tr>
            </table>
            <h2>Responce status: {{statusGet}}</h2>

            <h1>Add log:</h1>
            <form ng-submit="sendMessage()">
                level:<input type="text" ng-model="level"> &nbsp;&nbsp;
                message:<input type="text" ng-model="message"> &nbsp;&nbsp;
                <input type="submit" value="Submit">
           </form>
           <h2>Responce result: {{statusPost}}</h2>
        </div>
    </body>
</html>